:root {
	--spacing: 1.5rem;
}
body {
	background: rgba(4, 0, 73, 1) fixed
		linear-gradient(
			329deg,
			rgba(4, 0, 73, 1) 0%,
			rgba(48, 3, 57, 1) 45%,
			rgba(2, 114, 142, 1) 90%
		);
	text-align: center;
	color: rgb(255, 255, 255, 0.8);
	font: 16px/1 BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: underline;
	color: rgb(32, 0, 173);
}
h1 {
	background-image: linear-gradient(
		135deg,
		rgb(252 213 63) 0%,
		rgb(255 176 46) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 6rem;
	color: transparent;
	text-shadow: 0 0 1.5rem rgba(252 213 63 / 0.4);
	margin: 0;
}
button {
	background: transparent;
	border: none;
	padding: 0.5rem 1rem;
	color: #fff;
	cursor: pointer;
	margin: 1rem;
}
main {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	height: 100vh;
}
input[type='checkbox'] {
	display: none;
}
